.block {
    /* Display model */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Background, border, outline */
    background: red url('./image.png') no-repeat center / cover;
    background-image: url('./image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 20px;
    outline: none;
    /* Text */
    cursor: pointer;
    color: red;
    font: 700 28px/34px 'Inter', sans-serif;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    /* Spacing and sizing */
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    /* Less commonly used */
    opacity: 0.6;
    transition: all 0.5ms ease;
    transform: translate(50%, 50%);
    pointer-events: none;
    /* Position (clockwise) */
    z-index: 3;
    position: absolute;
    inset: 10px 20px 30px 40px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}