    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --main-font: 'Poppins', sans-serif;
    }
    
    .page--wrapper {
        width: 100%;
        max-width: 1400px;
        margin: auto;
    }
    
    .header__menu {
        margin-top: 50px;
        display: flex;
        position: relative;
        gap: 30px;
    }
    
    .header__title {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 54px;
        color: #173A56;
        padding-left: 100px;
    }
    
    .header__title::before {
        content: "";
        position: absolute;
        background: url(../img/Bitmap.svg)no-repeat;
        top: 22%;
        left: 4%;
        height: 32px;
        width: 31px;
    }
    
    .header__list {
        margin-top: 15px;
        margin-left: auto;
    }
    
    .header__item {
        font-family: var(--main-font);
        display: inline;
        padding-left: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }
    
    .header__item a {
        text-decoration: none;
        color: #2F281E;
    }
    
    .header__button_white,
    .header__button_yellow {
        font-family: var(--main-font);
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        height: 46px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    
    .header__button_white {
        width: 102px;
        color: #173A56;
        background-color: #FFFFFF;
    }
    
    .header__button_yellow {
        width: 110px;
        background-color: #FF9900;
        color: #FFFFFF;
        margin-right: 90px;
    }
    
    .desing {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }
    
    .desing__desc {
        position: relative;
        width: 518px;
        margin-top: 130px;
        margin-left: 60px;
    }
    
    .design__title {
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: #2F281E;
    }
    
    .design__text {
        width: 410px;
        padding-top: 25px;
        padding-bottom: 61px;
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #544837;
    }
    
    .desing__img {
        width: 602px;
        height: 494px;
        margin-top: 30px;
    }
    
    .desing__button {
        font-family: var(--main-font);
        border: none;
        border-radius: 5px;
        width: 175px;
        height: 53px;
        background-color: #FF9900;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    
    .desing__link {
        padding-left: 60px;
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #FF9900;
    }
    
    .desing__link::before {
        content: "";
        position: absolute;
        background: url(../img/main.tools.icon.svg)no-repeat;
        width: 20px;
        height: 18px;
        top: 75%;
        left: 42%;
    }
    
    .tools__title {
        margin-bottom: 55px;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        color: #2F281E;
    }
    
    .tools__title span {
        display: block;
    }
    
    .tools__icons {
        display: flex;
        justify-content: center;
        gap: 90px;
        position: relative;
    }
    
    .tools__tests img,
    .tools__surveys img,
    .tools__preference img,
    .tools__five_sec img {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }
    
    .tools__tests h3,
    .tools__surveys h3,
    .tools__preference h3,
    .tools__five_sec h3 {
        padding-bottom: 15px;
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: #2F281E;
    }
    
    .tools__tests p,
    .tools__surveys p,
    .tools__preference p,
    .tools__five_sec p {
        width: 245px;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
        margin-bottom: 50px;
    }
    
    .tools__button {
        width: 175px;
        height: 53px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        font-family: var(--main-font);
        color: #FFFFFF;
        background-color: #FF9900;
        display: block;
        margin: 0 auto;
        border: none;
        border-radius: 5px;
    }
    
    .prof {
        margin-top: 150px;
        margin-left: 55px;
        display: flex;
        justify-content: space-between;
    }
    
    .prof__title span,
    .product__about span,
    .marketers__sub_title span {
        font-family: var(--main-font);
        display: block;
        text-align: start;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #544837;
    }
    
    .prof__sub_title,
    .product__sub_title,
    .marketers__sub_title {
        margin-bottom: 30px;
        text-align: start;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        color: #2F281E;
    }
    
    .prof__text {
        text-align: left;
        max-width: 486px;
    }
    
    .prof__text p,
    .product__about p,
    .marketers__about p {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
    }
    
    .prof__text h4,
    .marketers__about h4 {
        padding-top: 15px;
        padding-bottom: 10px;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
        color: #2F281E;
    }
    
    .prof__img {
        width: 520px;
        height: 573px;
        margin-top: -25px;
    }
    
    .product {
        display: flex;
        justify-content: space-around;
        margin-top: 170px;
    }
    
    .product__img {
        display: block;
        width: 532px;
        margin-right: auto;
        margin-top: -25px;
        margin-left: 40px;
    }
    
    .product__about {
        max-width: 446px;
    }
    
    .product__check_list {
        position: relative;
        font-family: var(--main-font);
        list-style: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
    }
    
    .product__check_list li {
        padding-top: 30px;
        padding-left: 55px;
    }
    
    .product__check_list li:before {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        background: url(../img/product-icon.svg)no-repeat;
        left: 1%;
    }
    
    .marketers {
        display: flex;
        margin-top: 170px;
        justify-content: space-between;
    }
    
    .marketers__about {
        max-width: 456px;
        margin-left: 30px;
    }
    
    .marketers__img {
        width: 542px;
        height: 609px;
    }
    
    .productly {
        margin-bottom: 50px;
        position: relative;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid rgba(188, 208, 229, 0.496913);
    }
    
    .productly__title {
        padding-top: 50px;
        padding-left: 60px;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 54px;
        color: #173A56;
    }
    
    .productly__title::before {
        content: "";
        position: absolute;
        background: url(../img/Bitmap.svg)no-repeat;
        top: 18%;
        left: 1.5%;
        height: 32px;
        width: 31px;
    }
    
    .productly__links,
    .productly__stuff {
        padding-top: 70px;
        padding-bottom: 50px;
        list-style: none;
        text-decoration: none;
    }
    
    .productly__notes,
    .productly__form_name {
        padding-bottom: 30px;
        font-family: 'Gotham', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2F281E;
    }
    
    .productly__links a,
    .productly__stuff a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        color: #544837;
    }
    
    .productly__form_name {
        padding-top: 70px;
        padding-bottom: 30px;
    }
    
    .productly__form_name span {
        display: block;
    }
    
    .productly__button {
        display: block;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 180px;
        height: 50px;
        background-color: #FF9900;
        border-radius: 5px;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
    
    input[type=tel] {
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        width: 100%;
        height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #BCD0E5;
        padding-left: 10px;
        opacity: 0.5;
        border-radius: 5px;
    }