    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --main-font: 'Poppins', sans-serif;
    }
    
    .page--wrapper {
        width: 100%;
        max-width: 1400px;
        margin: auto;
        border-left: 4px solid#FF9900;
        border-right: 4px solid#FF9900;
    }
    
    .header__menu-container {
        margin-top: 50px;
        display: flex;
        position: relative;
        gap: 30px;
    }
    
    .header__menu-title {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 54px;
        color: #173A56;
        padding-left: 100px;
    }
    
    .header__menu-title::before {
        content: "";
        position: absolute;
        background: url(../img/Bitmap.svg)no-repeat;
        top: 22%;
        left: 4%;
        height: 32px;
        width: 31px;
    }
    
    .header__menu-list {
        margin-top: 15px;
        margin-left: auto;
    }
    
    .header__menu-item {
        font-family: var(--main-font);
        display: inline;
        padding-left: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }
    
    .header__menu-item a {
        text-decoration: none;
        color: #2F281E;
    }
    
    .header__menu_button-white,
    .header__menu_button-yellow {
        font-family: var(--main-font);
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        height: 46px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    
    .header__menu_button-white {
        width: 102px;
        color: #173A56;
        background-color: #FFFFFF;
    }
    
    .header__menu_button-yellow {
        width: 110px;
        background-color: #FF9900;
        color: #FFFFFF;
        margin-right: 90px;
    }
    
    .main__desing {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }
    
    .main__desing-desc {
        position: relative;
        width: 518px;
        margin-top: 130px;
        margin-left: 60px;
    }
    
    .main__design-title {
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: #2F281E;
    }
    
    .main__design-text {
        width: 410px;
        padding-top: 25px;
        padding-bottom: 61px;
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #544837;
    }
    
    .main__desing-img {
        width: 602px;
        height: 494px;
        margin-top: 30px;
    }
    
    .main__desing-button {
        font-family: var(--main-font);
        border: none;
        border-radius: 5px;
        width: 175px;
        height: 53px;
        background-color: #FF9900;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
    
    .main__desing-link {
        padding-left: 60px;
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #FF9900;
    }
    
    .main__desing-link::before {
        content: "";
        position: absolute;
        background: url(../img/main.tools.icon.svg)no-repeat;
        width: 20px;
        height: 18px;
        top: 75%;
        left: 42%;
    }
    
    .main__tools-title {
        margin-bottom: 55px;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        color: #2F281E;
    }
    
    .main__tools-title span {
        display: block;
    }
    
    .main__tools-icons {
        display: flex;
        justify-content: center;
        gap: 90px;
        position: relative;
    }
    
    .main__tools-tests img,
    .main__tools-surveys img,
    .main__tools-preference img,
    .main__tools_five-sec img {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }
    
    .main__tools-tests h3,
    .main__tools-surveys h3,
    .main__tools-preference h3,
    .main__tools_five-sec h3 {
        padding-bottom: 15px;
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: #2F281E;
    }
    
    .main__tools-tests p,
    .main__tools-surveys p,
    .main__tools-preference p,
    .main__tools_five-sec p {
        width: 245px;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
        margin-bottom: 50px;
    }
    
    .main__tools-button {
        width: 175px;
        height: 53px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        font-family: var(--main-font);
        color: #FFFFFF;
        background-color: #FF9900;
        display: block;
        margin: 0 auto;
        border: none;
        border-radius: 5px;
    }
    
    .main__prof {
        margin-top: 150px;
        margin-left: 55px;
        display: flex;
        justify-content: space-between;
    }
    
    .main__prof-title span,
    .main__product-about span,
    .main__marketers_sub-title span {
        font-family: var(--main-font);
        display: block;
        text-align: start;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #544837;
    }
    
    .main__prof_sub-title,
    .main__product_sub-title,
    .main__marketers_sub-title {
        margin-bottom: 30px;
        text-align: start;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        color: #2F281E;
    }
    
    .main__prof-text {
        text-align: left;
        max-width: 486px;
    }
    
    .main__prof-text p,
    .main__product-about p,
    .main__marketers-about p {
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
    }
    
    .main__prof-text h4,
    .main__marketers-about h4 {
        padding-top: 15px;
        padding-bottom: 10px;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
        color: #2F281E;
    }
    
    .main__prof-img {
        width: 520px;
        height: 573px;
        margin-top: -25px;
    }
    
    .main__product {
        display: flex;
        justify-content: space-around;
        margin-top: 170px;
    }
    
    .main__product-img {
        display: block;
        width: 532px;
        margin-right: auto;
        margin-top: -25px;
        margin-left: 40px;
    }
    
    .main__product-about {
        max-width: 446px;
    }
    
    .main__product_check-list {
        position: relative;
        font-family: var(--main-font);
        list-style: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
    }
    
    .main__product_check-list li {
        padding-top: 30px;
        padding-left: 55px;
    }
    
    .main__product_check-list li:before {
        content: "";
        position: absolute;
        width: 35px;
        height: 35px;
        background: url(../img/product-icon.svg)no-repeat;
        left: 1%;
    }
    
    .main__marketers {
        display: flex;
        margin-top: 170px;
        justify-content: space-between;
    }
    
    .main__marketers-about {
        max-width: 456px;
        margin-left: 30px;
    }
    
    .main__marketers-img {
        width: 542px;
        height: 609px;
    }
    
    .productly {
        border-bottom: 4px solid#FF9900;
        margin-bottom: 50px;
        position: relative;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid rgba(188, 208, 229, 0.496913);
    }
    
    .productly__title {
        padding-top: 50px;
        padding-left: 60px;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 54px;
        color: #173A56;
    }
    
    .productly__title::before {
        content: "";
        position: absolute;
        background: url(../img/Bitmap.svg)no-repeat;
        top: 18%;
        left: 1.5%;
        height: 32px;
        width: 31px;
    }
    
    .productly__links,
    .productly__stuff {
        padding-top: 70px;
        padding-bottom: 50px;
        list-style: none;
        text-decoration: none;
    }
    
    .productly__notes,
    .productly__form-name {
        padding-bottom: 30px;
        font-family: 'Gotham', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2F281E;
    }
    
    .productly__links a,
    .productly__stuff a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        color: #544837;
    }
    
    .productly__form-name {
        padding-top: 70px;
        padding-bottom: 30px;
    }
    
    .productly__form-name span {
        display: block;
    }
    
    .productly__button {
        display: block;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 180px;
        height: 50px;
        background-color: #FF9900;
        border-radius: 5px;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
    
    input[type=tel] {
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        width: 100%;
        height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #BCD0E5;
        padding-left: 10px;
        opacity: 0.5;
        border-radius: 5px;
    }